<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86812211596-7e7a0nf7jch8ghms3k3ed9rcdj22ob44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86812211596-7e7a0nf7jch8ghms3k3ed9rcdj22ob44</string>
	<key>API_KEY</key>
	<string>AIzaSyDaRyCn4ZJZ9dPh9Q_CmspbyktcuhWtLDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>86812211596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agritechv2</string>
	<key>PROJECT_ID</key>
	<string>agri-bot-75fb6</string>
	<key>STORAGE_BUCKET</key>
	<string>agri-bot-75fb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86812211596:ios:7af3c9d8b6ee51c696bea9</string>
</dict>
</plist>